<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->

<div class="container">
  <header>Angular2 Forms</header>
  <!-- <form action="">
    <input type="text" placeholder="Name">
    <button type="submit">Ok</button>
  </form> -->
  <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue">
    </div>
  </div>

  <div class="row">
    <timepicker [(ngModel)]="mytime"></timepicker>
    <pre class="alert alert-info">Time is: {{mytime}}</pre>
  </div>
  <div class="row">
    <button type="button" class="btn" [class.btn-primary]="onOffSwitch==='On'" [(ngModel)]="onOffSwitch" btnCheckbox btnCheckboxTrue="On" btnCheckboxFalse="Off">
      {{onOffSwitch}}
    </button>
  </div>
  <div class="row">
    <!-- <label for="">Rating Control.</label> -->
    <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
  </div>


  <form #form="ngForm" novalidate (submit)="submitForm(form)">
    <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
      <label class="control-label" for="">First Name</label>
      <input #firstName="ngModel" type="text" required class="form-control" required name="firstName" [ngModel]="model.firstName"
        (ngModelChange)="firstNameToUpperCase($event)">
      <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
        required.
      </div>
    </div>



    <div class="form-group">
      <label for="">Last Name</label>
      <input #lastName="ngModel" type="text" class="form-control" required name="lastName" [(ngModel)]="model.lastName">
    </div>

    <div class="form-check">
      <label class="form-check-label" for="">
        <input class="form-check-input" type="checkbox" name="is-fullname" [(ngModel)]="model.isFullTime" id="">Full Time Employee
      </label>
    </div>

    <label for="">Payment Type:</label>
    <div class="form-check">
      <label class="form-check-label" for="">
        <input class="form-check-input" type="radio" name="paymentType" value="1000" [(ngModel)]="model.paymentType"> 1000
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="">
        <input class="form-check-input" type="radio" name="paymentType" value="2000" [(ngModel)]="model.paymentType"> 2000
      </label>
    </div>


    <div class="form-group" [class.has-error]="hasPirmaryLanguageError">
      <label for="" class="control-label">Primary Language</label>
      <select name="primaryLanguage" #primaryLanguage [(ngModel)]="model.primaryLanguage" id="" class="form-control" (change)="validatePrimaryLanguage(primaryLanguage.value)"
        (blur)="validatePrimaryLanguage(primaryLanguage.value)">
        <option value="default" default>Select a language</option>
        <option value="{{language}}" *ngFor="let language of languages">
          {{language}}
        </option>
        <!-- <option value="english">English</option>
        <option value="chinese">Chinese</option>
        <option value="other">Other</option> -->
      </select>
    </div>




    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>


  </form>
</div>